@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Cookie&family=Poppins:wght@600&display=swap');

:root {
    --bg-text-shadow: 0 2px 4px rgb(13 0 77 / 8%), 0 3px 6px rgb(13 0 77 / 8%), 0 8px 16px rgb(13 0 77 / 8%);
    --bg-box-shadow: 0px 0px 20px 6px rgb(0 0 0 / 34%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* text-shadow: var(--bg-text-shadow); */
}
body {
    height: 100vh;
    overflow: hidden;
}
.uppernav{
    height: 50px;
    /* background-color: rgb(78, 94, 112); */
    /* background-image: linear-gradient(90deg, #2563eb, #0000ffaa); */
    /* background-color: #0e7490; */
    border-bottom: 1px solid #d1d5db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}
.logo {
    height: 90%;
    display: flex;
}
.logo .bluebirdlogo {
    height: 100%;
}
.logo p {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgb(8, 17, 44);
    text-shadow: var(--bg-text-shadow);
}

.logout button{
    height: 30px;
    width: 100px;
    background-color: rgba(228, 24, 24, 0.789);
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}


.sidenav {
    /* background-color: #0e1b3d; */
    width: 250px;
    /* color: #ffffff; */
    padding: 16px;
    border-right: 1px solid #d1d5db;
}
ul li{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0px 10px;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0px 6px 6px 0px;
    /* margin-bottom: 5px; */
}
ul li.active{
    background-color: #0284c7;
    color: white;
}
ul li.active:hover{
    background-color: #0284c7;
    color: white;
}
ul li:hover{
    background-color: #bae6fd;
    /* color: white; */
}

.mainscreen{
    display: flex;
    height: calc(100vh - 50px);
}

.frames{
    /* height: 100vh; */
    width: 100%;
    display: none;
    padding: 16px;
}

.frames.active{
    display: block;
}

.iframe-container {
    flex: 1;
    overflow: auto; /* or overflow: scroll */
}


/* temp */
img{
    height: 23px;
}



/* responsive stuff */
#mobileview{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width:40rem) {
    #mobileview{
        display: flex;
    }
}
